<div class="title">
    <h1> Star Wars Battle </h1>
</div>

<ng-container *ngIf="gameStarted; else introductionTemplate">

    <div id="game-grid-container">

        <div id="switch-button">
            <span> Characters </span>
            <mat-slide-toggle color="warn" (change)="onChange($event)">
                Ships
            </mat-slide-toggle>
        </div>

        <div id="player-left" *ngIf="player1">
            <app-participant-card></app-participant-card>
        </div>

        <div id="score">
            <h1> {{ leftScoreObs$ | async }} : {{ rightScoreObs$ | async }} </h1>
        </div>

        <div id="player-right" *ngIf="player2">
            <app-participant-card></app-participant-card>
        </div>

        <div id="roll-button">
            <button mat-flat-button color="primary" (click)="onRollTheDice()">Roll the dice!</button>
        </div>

    </div>
</ng-container>

<ng-template #introductionTemplate>
    <div id="description">
        <h3>
            A near future, in the galaxy we live in....
        </h3>
        <h3>
            You'll have the power to make the battle between two opponents from Star Wars Universe. You'll see two cards next to each other representing them.
            The only thing you need is to click on "roll the dice" button and wait when system will randomly choose characters or starships to compare.
            Once winner will be shown to you, you can reroll the dice and play again!
        </h3>
        <h3>
            Sounds fun and interesting? Click on the button below and here we go!
        </h3>    
    </div>
    <button mat-flat-button color="primary" id="start-game-button" (click)="onStartGame()">Start Game!</button>
</ng-template>